* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.custom-body {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
}

/* Common */
:root {
    --primary-color: #464343;
    --icons-color: #9f9b9b;
}

.main-content {
    width: 1200px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

/* header */

.header-staff {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    border: 1px solid var(--primary-color);
    border-radius: 4px 4px 0 0;
    border-left: 10px solid orange;
}

.header-staff__heading {
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: -0.02em;
    color: #090700;
    cursor: pointer;
    padding: 3px;
}

.action a {
    color: orange;
    padding: 3px 10px;
    border: 1px solid orange;
    border-radius: 3px;
}

.action__btn {
    font-size: 1.3rem;
    text-decoration: none;
}

.navbar-form {
    display: flex;
    height: 33px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--primary-color);
}

.navbar-search {
    position: relative;
    display: flex;
    line-height: 16px;
    margin-left: 14px;
    padding-left: 20px;
    border-radius: 999px;
    border: 1px solid var(--primary-color);
}

.navbar-search__input,
.navbar-search__btn {
    background: transparent;
    outline: none;
    border: none;
}

.navbar-search__input {
    width: 100%;
    padding: 5px 0;
    margin-right: 32px;
}

.navbar-search__input:not(:placeholder-shown) ~ .navbar-search__btn {
    color: #333;
}

.navbar-search__input:not(:placeholder-shown) ~ .navbar-search__clear {
    display: block;
}

.navbar-search__btn {
    width: 30px;
    border-radius: 0 99px 99px 0;
    color: rgba(22, 24, 35, 0.34);
    font-size: 1.4rem;
    cursor: pointer;
}

.navbar-search__btn:hover {
    background: #16182308;
}

.navbar-search__clear {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    border: none;
    color: #666;
    background: transparent;
    display: none;
    cursor: pointer;
}

.navbar__status {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 10px;
}

.navbar__status span {
    font-size: 1.2rem;
}

.navbar__status-check {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 2px;
    width: 14px;
    height: 14px;
    font-size: 0.9rem;
    border-radius: 50%;
    color: white;
    background-color: green;
    cursor: pointer;
}

.navbar__status-lock {
    font-size: 1.4rem;
    color: #bf360c;
    cursor: pointer;
}

.navbar__sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__sort a {
    color: #000;
}

.navbar__sort-desc {
    display: flex;
    padding: 1px;
    margin-right: 10px;
    gap: 10px;
    font-size: 1.2rem;
}

.count-staff {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 33px;
    font-size: 1.2rem;
    border: 1px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.count-staff__desc {
    font-weight: 500;
    margin-left: 14px;
}

.delete-staff {
    display: none;
    margin-right: 10px;
}

.delete-staff span {
    font-style: italic;
}

.delete-staff span {
    color: blue;
    cursor: pointer;
    padding: 3px;
}

.list-staff {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--primary-color);
    position: relative;
}

.list-staff__info {
    font-size: 1.2rem;
    line-height: 1.4;
    padding: 5px 14px;
}

.list-staff__revenue {
    display: flex;
    gap: 5px;
    font-size: 1.2rem;
}

.list-staff__action {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-staff__action-update {
    color: var(--icons-color);
    font-size: 1.2rem;
    line-height: 1.4;
    padding: 3px 5px;
    border-radius: 3px;
    border: 1px solid var(--icons-color);
}

.list-staff__action-clear {
    color: var(--icons-color);
    font-size: 1.2rem;
    line-height: 1.4;
}

.list-staff__check {
    position: relative;
}

.row__quantity {
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: right;
    border: 1px solid var(--primary-color);
}

.row__quantity-info {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    font-size: 1.2rem;
}

.row__page {
    font-size: 1.2rem;
    margin-right: 10px;
}

.row__page a {
    padding: 4px;
    color: var(--primary-color);
}

.num-users {
    font-weight: bold;
}

.list-users {
    position: relative;
    border: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.list-users::after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    z-index: 1;
    border-top: 15px solid transparent;
    border-left: 17px solid transparent;
    border-right: 17px solid #ededed;
    border-bottom: 17px solid #ededed;
}

.list-users__heading {
    display: flex;
    align-items: center;
}

.list-users i {
    margin-right: 5px;
}

.list-users__info {
    display: flex;
}

.list-users__name {
    font-weight: bold;
}

.list-users__name,
.list-users__email,
.list-users__user-name {
    width: 90%;
    display: inline-flex;
    align-items: baseline;
}

.list-users__user-name i {
    color: #666;
}

.list-users__email {
    text-decoration: none;
}

.list-users__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.list-users__gender {
    text-transform: capitalize;
}

.list-users__phone_number {
    font-size: 14px;
}

.list-users__item div {
    padding: 1px 0 2px 30px;
}

.list-users__action {
    gap: 50px;
    display: flex;
    margin-right: 30px;
}

.list-users__update {
    color: #999595;
    padding: 3px 5px;
    border: 1px solid #999595;
    border-radius: 3px;
    text-decoration: none;
}

.list-users__update:hover {
    background: #16182308;
}

.list-users__action-clear {
    cursor: pointer;
    color: #999595;
}

/* Status check */
.list-users__status-check {
    position: absolute;
    right: 2px;
    bottom: 2px;
    z-index: 3;
}

.list-users__status-check label {
    right: 2px;
    bottom: -2px;
    position: relative;
}

.list-users__status-check label:before,
.list-users__status-check label::after {
    content: "";
    display: inline-block;
}

.list-users__status-check label:before {
    z-index: 9;
    width: 12px;
    height: 12px;
    border: 2px solid #078a2e;
    border-radius: 999px;
    background: #078a2e;
    border-color: #078a2e;
}

.list-users__status-check label::after {
    position: absolute;
    top: 2px;
    left: 4px;
    height: 7px;
    width: 4px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    rotate: 45deg;
}

.row__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 900px;
    max-width: calc(100% - 40px);
}

.row__item-info {
    width: 800px;
    max-width: calc(100% - 40px);
}

/* footer */
.pagination__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    column-gap: 6px;
}

.pagination__item-btn,
.page-link__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    font-size: 1.4rem;
    color: #666;
    border-radius: 4px;
    background: #f2f2f2;
}

.page-link__item {
    text-decoration: none;
    background: #f2f2f2;
}

.pagination__item-btn:hover,
.page-link__item:hover {
    color: #fff;
    background: #0064f9;
}

.active {
    color: #fff;
    background-color: #0064f9;
}
